@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f6f8ff;
    --background-card: #fefefe;
    --background-details: #F6F8FF;
    --title: #2b3442;
    --subtitle: #0079ff;
    --join-date-text: #697c9a;
    --bio-text: #4b6a9b;
    --account-title: #4b6a9b;
    --account-statistics: #2b3442;
    --error: #f74646;
    --white: #ffffff;
    --hover-button: #60abff;
  }

  .dark {
    --background: #141d2f;
    --background-card: #1e2a47;
    --background-details: #141D2F;
    --title: #ffffff;
    --subtitle: #0079ff;
    --join-date-text: #ffffff;
    --bio-text: #ffffff;
    --error: #f74646;
    --hover-button: #60abff;
  }
}
