@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F6F8FF;
    --background-card:#FEFEFE;
    --title: #2B3442;
    --subtitle: #0079FF;
    --join-date-text: #697C9A;
    --bio-text: #4B6A9B;
    --error:#F74646;
    --white:#ffffff;
    --hover-button: #60ABFF;
  }

  .dark {
    --background: #141D2F;
    --background-card:#1E2A47;
    --title: #FFFFFF;
    --subtitle: #0079FF;
    --join-date-text: #FFFFFF;
    --bio-text: #FFFFFF;
    --error:#F74646;
  }
}

